* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
    background: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background: var(--principal_color);
    border: solid 2px var(--bg-dark);
    border-radius: 5px;
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--bg-dark);
    width: 100%;
    height: 50px;
}

nav {
    width: 100%;
    height: 100%;
}

ul {
    width: 100%;
    height: 100%;
    display: flex;
}

.page {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: inherit;
}

.page a img {
    margin-left: 20px;
    width: auto;
    height: 80%;
}

.icon-menu {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.icon-menu i {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.icon-menu i:hover {
    color: var(--principal_color);
}

.menu {
    background: var(--bg-dark);
    width: 100%;
    height: 0%;
    top: 50px;
    position: absolute;
    display: block;
    left: 0%;
    transition: all .3s;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.menu a {
    display: flex;
    justify-content: center;
    margin: 10px;
    align-self: center;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    transition: all 300ms;
}

.menu a:hover {
    border-top: 1px solid var(--principal_color);
    border-bottom: 1px solid var(--principal_color);
    transition: all 300ms;

}

.menu .active {
    color: var(--principal_color);
    border-top: 1px solid var(--principal_color);
    border-bottom: 1px solid var(--principal_color);
}

.show {
    left: 0%;
    opacity: .95;
    visibility: visible;
    transition: all .3s;
    height: calc(100% - 50px);
    overflow-y: lock;
    position: fixed;
}

.show-nav {
    position: fixed;
    width: 100%;
}

@media screen and (min-width: 768px) {

    body {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    ul {
        width: 100%;
        display: flex;
    }

    .menu {
        display: flex;
        justify-content: end;
        width: 100%;
        height: 100%;
        top: 0px;
        position: relative;
        left: 0%;
        transition: none;
        z-index: initial;
        visibility: visible;
        overflow-y: inherit;
        opacity: 1;
        margin-right: 20px;
    }

    .menu a {
        align-self: center;
        margin: 0 20px;
        text-decoration: none;
        color: #fff;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        font-size: 16px;
        transition: all 300ms;
    }

    .menu a:hover {
        border-top: 1px solid var(--principal_color);
        border-bottom: 1px solid var(--principal_color);
        transition: all 300ms;
    }

    .icon-menu {
        display: none;
    }
}