*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: var(--background);
    width: 100%;
    height: 50px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

ul{
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: inherit;
}

.page a img{
    width: 60%;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.menu{
    display: flex;
    justify-content: end;
}

.menu a{
    align-self: center;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    transition: all 300ms;
}

.menu a:hover{
    border-top: 1px solid var(--principal_color);
    border-bottom: 1px solid var(--principal_color);
    transition: all 300ms;

}

.menu .active{
    color: var(--principal_color);
    border-top: 1px solid var(--principal_color);
    border-bottom: 1px solid var(--principal_color);
}

.icon-menu{
    display: none;
}

@media (max-width: 550px){
    body{
        overflow-x: hidden;
    }

    ul{
        display: grid;
    }

    .menu{
        background: var(--background);
        width: 100%;
        height: 0%;
        top: 50px;
        position: absolute;
        display: block;
        left: 0% ;
        transition: all .3s;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
    }

    .menu a{
        display: flex;
        justify-content: center;
        margin: 10px;
    }

    .icon-menu{
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 0 10px;
    }

    .icon-menu i{
        color: #fff;
        cursor: pointer;
        font-size: 20px;
    }

    .icon-menu i:hover{
        color: var(--principal_color);
    }

    .icon-menu .active{
        color: var(--principal_color);
    }

    .show{
        left: 0%;
        opacity: .95;
        visibility: visible;
        transition: all .3s;
        height: calc(100% - 50px);
        overflow-y: lock;
        position: fixed;
    }

    .show-nav{
        position: fixed;
    }
}